/*-- scss:defaults --*/

.reveal .slide .your-turn {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 5px #223e50;
  background-color: #a9c7c9;
}